body {
    
    min-height: 100px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace, ui-serif;
    background: radial-gradient(#fcfcfd, #d6d7db);
  }

.divider {
    height: 1px;
    background-color: rgba(0, 0, 0, .15);
}
.text-justify {
    text-align: justify;
}

.bg-info {
    --bs-bg-opacity: 1;
    background-color: #3F72AF !important;
}

header {
    width: 100%; 
}

.navbar {
    width: 100%; 
}

.navbar-expand-lg .navbar-nav {
    width: 100%;
    justify-content: space-around;
}
